<%- include('partials/header') %>

<div class="container features">
  
    <% if (locals.worklist) { %>
      <div class="form-check form-floating">
        <%worklist.forEach((item)=> { %>
        
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
          <input type="text" readonly class="form-control" id="floatingInput" value="<%=item %>">
          
        <%}) %>
      <% } %>
      </div>
  
      
        
        <form action="/submitWork" method="POST" ;>
          <input class="form-control"
            type="text"
            name="taskSubmitWork"
            placeholder="Enter New Task..."
            autofocus
          />
          <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" name="taskSubmit" value="Submit" />
        </form>
      
      
  </div>

<%- include('partials/footer') %>